<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PPIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    {% include "css.html" %}
    {% block excss %}
    {% endblock %}
</head>

<body data-smooth-scroll-offset="77">
    <div class="main-container">
        {% block main %}
        {% endblock %}
    </div>
    {% include "js.html" %}
</body>

</html>