{% extends "_base.html" %}
{% block main %}
<section class="cover height-80 imagebg text-center" data-overlay="3">
    <div class="background-image-holder"> <img alt="background" src="img/Dogs_for_adoption.jpg"> </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <h1> Lost your pet?</h1>
                <h1> Let us help to find them !!</h1>
                <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                        I'm lost my pet
                    </span> </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="masonry">
            <div class="masonry__container row masonry--active">
                <div class="masonry__item col-md-6 col-12 filter-digital" data-masonry-filter="Digital">
                    <div class="project-thumb hover-element border--round hover--active">
                        <a href="#">
                            <div class="hover-element__initial">
                                <div class="background-image-holder"> <img alt="background" src="/img/lost/1.png"> </div>
                            </div>
                            <div class="hover-element__reveal" data-scrim-top="5">
                                <div class="project-thumb__title">
                                    <h4>Lilly</h4> <span>Help me to find this guy please</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="masonry__item col-md-6 col-12 filter-print" data-masonry-filter="Print">
                    <div class="project-thumb hover-element border--round hover--active">
                        <a href="#">
                            <div class="hover-element__initial">
                                <div class="background-image-holder"> <img alt="background" src="/img/lost/2.jpg"> </div>
                            </div>
                            <div class="hover-element__reveal" data-scrim-top="5">
                                <div class="project-thumb__title">
                                    <h4>Peter</h4> <span>Lost this dog with all of duck</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}