{% extends "_base_full.html" %} {% block main %}
<section class="height-100 imagebg text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="/img/funny-animal-selfies-fb.png" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-7 col-lg-5">
        <h2>Login to continue</h2>
        <p class="lead">
          Welcome back, sign in with your existing PPIE account 
        </p>
        <form>
          <div class="row">
            <div class="col-md-12">
              <input type="text" placeholder="Username" />
            </div>
            <div class="col-md-12">
              <input type="password" placeholder="Password" />
            </div>
            <div class="col-md-12">
              <button class="btn btn--primary type--uppercase" type="submit">
                Login
              </button>
            </div>
          </div>
        </form>
        <span class="type--fine-print block"
          >Dont have an account yet?
          <a href="/register">Create account</a></span
        >
        <span class="type--fine-print block"
          >Forgot your username or password?
          <a href="recover">Recover account</a></span
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
