{% extends "_base_full.html" %} {% block main %}
<section class="imageblock switchable feature-large height-100">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder">
      <img alt="image" src="/img/Dogs_for_adoption.jpg" />
    </div>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h2>Create a PPIE account</h2>
        <p class="lead">Enter your information below</p>
        <form>
          <div class="row">
            <div class="col-12">
              <input
                type="email"
                name="Email Address"
                placeholder="Email Address"
              />
            </div>
            <div class="col-12">
              <input type="password" name="Password" placeholder="Password" />
            </div>
            <div class="col-12">
              <input
                type="password"
                name="rePassword"
                placeholder="Re-Password"
              />
            </div>
            <div class="col-4">
              <a href="/" class="btn type--uppercase">
                <span class="btn__text">&lt;&lt; Back</span>
              </a>
            </div>
            <div class="col-8">
              <button type="submit" class="btn btn--primary type--uppercase">
                Create Account
              </button>
            </div>
            <div class="col-12">
              <span class="type--fine-print">
                By signing up, you agree to the <a href="#">Terms of Service</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
